sudo:
  false

language:
  python

python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5

env:
  global:
    - TOXENV="py${PYTHON_VERSION//./}"

install:
  - make develop
  - pip install coveralls

script:
  # FIXME: configure linter
  # - make lint
  - make test

after_success:
  - coveralls

deploy:
  provider: pypi
  user: roll
  on:
    tags: true
  password:
    secure: iYrXBSz8Z8cAeFJ9ZdKAcb8B7LhRpKv1G5qjzbtV+FheYDvWKlggIVNYoccs3EJVqqYbJh9ImpRii1AETgbr1qKIfiYScmVc2v/xeTeR/Tb/70LsU+3d+s6ooaMjcA80LellVz0XsotMwHS9Oj/1KjgROEQ8DDN/zArLcrcdhRSXrpAolLRK9UJoif6cEcT01WShyeGEg+dI1kZKDAteSHKXAfVfcYpuBjQBKR9kbM30tMDh9ni9n1bW1xIVSmkTitZVCqI0vON6O8GiiAQct2HMPasLC9AleeQeHeNUBU0ZYDJq/vipNpN2xse/g4+L+CshWOcm5id+sOXPib012Z7FaG7sE8G2zLElmBLQUh3POkEf1m2ZM5tyQyfkc2JZMuo+izOUwCyz/qwWTtLtu02CLS1n6YIo3uAJxWSpXLePqZnm61kccak8t/233KgyuMiDrRiycsLQU1MmHotODsoOcnMqHnK3dc6AfFcsC/ZBwVWfC91SDT1Fw6ENygqjc/jqALpgRRSYS05B8p6Y4yS5JdlMrPO4x8RXRWImnsI6oW8tTmhDnkU12loho2PmTko5d2boisIIsQESdSnLm+QF3SXNim40ZunHcUDBCheL9OqiGBkHis3yDDjY3o1kMRbfPhDYfbCz0Qb6oqoIvCii2+hEiTbJZFuflOcT808=
